@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p><a href="/Home/FormularioAlumnos">Registrar un nuevo alumno</a></p>
        <p><a href="/Home/FormularioProfesores">Registrar un nuevo profesor</a></p>
        @* <p><a href="/Home/FormularioGrados">Registrar Grados</a></p>
        <p><a href="/Home/FormularioGradoAlumno">Asignar grado a Alumno</a></p> *@
    </div>
</body>
</html>